*
!.git
!build-and-install.sh
!darg/dub.sdl
!darg/source
!dub.sdl
!dub.selections.json
!scripts
!source
!update-modules.sh
!update-swinfo.sh
!README.md
!CHANGELOG.md
!LICENSE
!snakemake
!.dockerignore
