# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# D files
[*.d]
charset = utf-8
max_line_length = 100

# Makefile - important to use tabs
[Makefile]
indent_style = tab
